 List of required Python packages

dlib
facenet_pytorch
ipython
joblib
librosa
matplotlib
moviepy
numpy
openai-whisper
opencv-python
pandas
pillow
pydub
resemblyzer
scikit-learn
sentencepiece
soundfile
tensorflow
torch
torchaudio
torchvision
tqdm
transformers
----------------------------------------
dlib==19.24.2
facenet_pytorch
ipython==9.4.0
joblib==1.5.1
librosa==0.8.1
matplotlib==3.6.3
moviepy==1.0.3
numpy==1.24.0
openai-whisper
opencv-python==4.5.5.62
pandas==1.5.3
Pillow==9.1.0
pydub==0.25.1
resemblyzer
scikit-learn==1.1.3
sentencepiece
SoundFile==0.10.2
tensorflow
torch==2.5.1+cpu
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.64.0
transformers
----------------------------------

IPython==9.4.0
PIL
cv2
dlib==19.24.2
facenet_pytorch
joblib==1.5.1
librosa==0.8.1
matplotlib==3.6.3
moviepy==1.0.3
numpy==1.24.0
pandas==1.5.3
pydub==0.25.1
pylab
resemblyzer
sklearn
soundfile==0.10.2
tensorflow
torch==2.5.1+cpu
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.64.0
transformers
whisper
